extends layout
body
 block content
  br
  h3(style='margin-left: 10px;') MOST POPULAR 
  #myCarousel.carousel.slide
   .carousel-inner
      .item.active
       .row
        .subtray.1x1(style='left: 0px;')
          img(src='http://placehold.it/420x268')
        .subtray.1x1(style='left: 440px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 680px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 920px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 1160px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
      .item
       .row
        .subtray.1x1(style='left: 0px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 240px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 480px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 720px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
        .subtray.1x1(style='left: 960px;')
          .row
            img(src='http://placehold.it/220x124', style='margin-bottom: 15px;')
          .row
            img(src='http://placehold.it/220x124')
   a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
   a.right.carousel-control(href='#myCarousel', data-slide='next') ›

  h3(style='margin-left: 10px;') TOP TUNES (MOST POPULAR MUSIC) 
  #myCarousel2.carousel.slide
   .carousel-inner
    .item.active
        .row
        .subtray.1x1(style='left: 0px;')
            img(src='http://placehold.it/210x220')
        .subtray.1x1(style='left: 200px;')
            img(src='http://placehold.it/210x220')
        .subtray.1x1(style='left: 440px;')
            img(src='http://placehold.it/220x220')
        .subtray.1x1(style='left: 680px;')
            img(src='http://placehold.it/220x220')
        .subtray.1x1(style='left: 920px;')
            img(src='http://placehold.it/220x220')
        .subtray.1x1(style='left: 1160px;')
            img(src='http://placehold.it/220x220')
    .item
        .row
        .subtray.1x1(style='left: 0px;')
            img(src='http://placehold.it/210x220')
        .subtray.1x1(style='left: 200px;')
            img(src='http://placehold.it/210x220')
        .subtray.1x1(style='left: 440px;')
            img(src='http://placehold.it/220x220')
        .subtray.1x1(style='left: 680px;')
            img(src='http://placehold.it/220x220')
        .subtray.1x1(style='left: 920px;')
            img(src='http://placehold.it/220x220')
        .subtray.1x1(style='left: 1160px;')
            img(src='http://placehold.it/220x220')
   a.left.carousel-control(href='#myCarousel2', data-slide='prev') ‹
   a.right.carousel-control(href='#myCarousel2', data-slide='next') ›