doctype 5
html
  head
   link(rel='stylesheet', href='/stylesheets/bootstrap.css')
   link(rel='stylesheet', href='/stylesheets/carousel.css')
   script(src='https://code.jquery.com/jquery-1.10.2.min.js')
   script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
   script(src='http://getbootstrap.com/docs-assets/js/holder.js')
  body
    block content